
    img {
		width: 25%;
		 display:block; 
    }
    h1 {
		text-align: center;
		color: red;
    }
	body {
   		 background-image: url(./images/pexels-gustavo-borges-1995803.jpg);
    	background-size: cover;
    	background-position: center;
}
 

	p{
		font-family: arial;
	}
	  body {  
	background-image: url(./images/pexels-gustavo-borges-1995803.jpg); 
		  background-size: cover;
 
}